body, html {
  text-align: center;
  height: 100%;
  font-family: Montserrat, sans-serif;
}

.bg {
  text-align: center;
  background-image: url(../img/bg.jpg);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#headerKenny {
  padding-top: 30vh;
  height: 50vh;
  color: white;
  font-weight: 700;
}

#headerKenny h1 {
  font-size: 110px;
}


#socialmedia {
  padding-top: 25vh;
  display: inline-block;
  bottom: 0;
}

#aboutMe {
  padding-top: 30vh;
}

#aboutMe .container {
  padding: 80px 120px;
}

#aboutMe ul {
  text-align: left;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.floatright {
  float: right;
}

img {
  height: 50px;
  width: 50px;
}

.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}
